// &符号用来引用父元素
.el-submenu .el-menu-item{
    font-size: 14px;
    padding-left: 50px;
    &.is-active{
        background-color: $secColor !important;
    }
}
// 修改一级菜单样式
li.el-submenu {
    &.is-active.is-opened .el-submenu__title{
        background-color: $mainColor !important;
    }
}
// 清除导航栏左侧边框
ul.el-menu-vertical-demo.el-menu{
        border-right: 0;
}

.close {
    .el-submenu {
        &.is-opened {
            > .el-submenu__title {
                background-color: $mainColor !important;
            }
        }
    }
}
.el-menu--vertical {
    .el-menu {background-color: $secColor !important;}
    .el-menu-item { line-height: 56px; }
    .el-menu-item:hover {
        background-color: $mainColor !important;
    }
}