@import "./config.scss";
@import "./normalize.scss";
@import "./elementui.scss";

.pull-left{ float: left; }
.pull-right{ float: right; }

// 登录页面文字居中
ul.menu-tab{
    padding: 0;
    text-align: center;
}

.black-space-30 {height: 30px;}

@for $i from 1 through 110 {
    .margin-left-#{$i} { margin-left:(1px * $i); }
}